/*----------------------------------- Paramètres initiaux -----------------------------------*/

body {
    margin-left: 0;
    margin-right: 0;
}

main {
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
}


/*----------------------------------- Recherche -----------------------------------*/

#search-section {
    margin-right: 0;
}

#search-bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


/*----------------------------------- Filtres -----------------------------------*/

#filter-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#filter-section h2 {
    width : 100%;
    margin-bottom: 16px;
}

#filter-form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
}

.filter-style {
    font-size: 16px;
}


/*----------------------------------- Hébergements et Populaires -----------------------------------*/

#host-and-popular {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
}


/*----------------------------------- Hébergements -----------------------------------*/

#host-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
}

#host-section h2 {
    width: 90%;
    margin: 25px;
}

#host-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
}

.host-card {
    height: 220px;
}

#show-more {
    width: 90%;
}


/*----------------------------------- Populaires -----------------------------------*/

#popular-section {
    width: 95%;
    padding: 20px;
}

#popular-section h2 {
    max-width: 70%;
    margin: 25px;
}

#popular-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
}

.popular-card {
    max-width: 70%;
    height: 160px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 108%;
}


/*----------------------------------- Activités -----------------------------------*/

#activity-section {
    margin: 2.5% 2.5% 7.5% 2.5%;
}

#activity-list {
    height: 941px;
    gap: 0 0;
}

.activity-card {
    width: 46.8%;
}

.activity-card:nth-child(3n+1) /* Selection card 1 et 4 */ {
    -ms-flex-preferred-size: 449px;
        flex-basis: 449px;
}

.activity-card:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
}

.activity-card:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
}

.activity-card:nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
}

.activity-card:nth-child(5) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.activity-card:nth-child(6) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3
} 


/*----------------------------------- Footer -----------------------------------*/

footer {
    padding: 45px 10px 45px 50px;
}

footer section {
    -ms-flex-preferred-size: content;
        flex-basis: content;
    min-width: 230px;
}

#our-host {
    padding-left: 40px;
}

#assist {
    padding-left: 40px;
}