body {
    margin-left: 0;
    margin-right: 0;
}

main {
    margin-left: 25px;
    margin-right: 25px;
    height: auto;
}

/* Recherche */

#seekSection {
    margin-left: 0;
    margin-right: 0;
}

#searchBar {
    justify-content: center;
}


/* Filtres */

#filterSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

#filterSection h2 {
    margin-bottom: 16px;
    width : 100%;
}

#filterForm {
    justify-content: space-around;
    width: 100%;
    gap: 0;
}

.filtersName {
    padding: 0 15px 0px 60px;
    font-size: 15px;
}

/* Hébergements et Populaires */

#hostAndPopular {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    gap: 30px;
}


/* Populaires */

#popularSection {
    width: 100%;
    padding: 20px;
    max-height: none;
}

#popularSection h2 {
    margin: 25px;
    max-width: 70%;
}

.popularCard {
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 70%;
    height: 160px;
}


/* Hébergements */

#hostSection {
    width: 100%;
}

#hostList {
    justify-content: center;
}

.hostCard {
    width: 45%;
    height: 220px;
}
