/* Paramètres initiaux */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

body {
    margin-right: auto;
    max-width: 1440px;
    height: 1884px;
    font-family: 'Raleway', sans-serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

header {
    height: 6%;
}

main {
    margin-left: 50px;
    margin-right: 50px;
    height: 82%;
}

h1, h2 {
    font-size: 22px;
    font-weight: 700;
}

footer {
    width: 100%;
    height: 12%;
    border: #0065FC solid 1px;
}


/* Header et navigation */

header {
    margin-left: 50px;
    margin-right: 25px;
    height: 116px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 95px;
    margin-top: 22px;
    height: fit-content;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 324px;
    height: 110px;
}

nav a {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 30px 0px 30px 0px;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-top: rgba(0, 0, 0, 0) solid 3px;
}

nav a:hover {
    color: #0065FC;
    border-top: #0065FC solid 3px;
}


/* Recherche */

form h1 {
    margin-bottom: 0px;
}

#searchBar {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

#searchForm {
    display: flex;
    width: 420px;
}

#locationDot {
    border: none;
    font-size: large;
    color: rgb(0, 0, 0);
    background: #F2F2F2;
    height: 50px;
    width: 50px;
    padding: 14px;
    border-radius: 16px 0px 0px 16px;
    text-align: center;
}

#searchInput {
    height: 50px;
}

#searchInput[type=text] {
    width: 235px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-left: 18px;
    padding-right: 18px;
}

#searchButtonBig {
    border: none;
    font-size: 17px;
    font-weight: bold;
    background: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    width: 135px;
    cursor: pointer;
}

#searchButtonSmall {
    display: none;
}


/* Filtres */

#filterSection {
    display: flex;
    gap: 24px;
}

#filterSection h2 {
    font-size: 17px;
    font-weight: 700;
}

input[type=checkbox] {
    visibility: hidden;
}

#filterForm {
    display: flex;
    gap: 24px;
}

.filtersButton {
    display: flex;
    align-items: center;
}

.filtersIcons  {
    color: #0065FC;
    background-color: #DEEBFF;
    display: inline-block;
    font-size: 125%;
    height: 50px;
    width: 50px;
    padding: 0px;
    border-radius: 25px;
    text-align: center;
    padding-top: 15px;
    border: none;
    z-index: 2;
    cursor: pointer;
    position: absolute;
}

.filtersName {
    display: inline-block;
    border: #d9d9d9 solid 2px;
    height: 50px;
    border-radius: 25px;
    padding: 14px 20px 0px 60px;
    cursor: pointer;
    position: relative;
    font-size: 17px;
    font-weight: 700;
}

.filtersButton:hover input ~ .filtersName {
    background-color: #F2F2F2;
}

.filtersButton input:checked ~ .filtersName {
    background-color: #DEEBFF;
}

.filtersButton input:checked ~ .filtersIcons  {
    color: #DEEBFF;
    background-color: #0065FC;
}

.filtersButton input {
    width: 0;
    height: 0;
}

.filtersButton:nth-child(3) .filtersName:nth-child(3) {         /* Sélection du filtersName "Romantique" */
    padding: 14px 15px 0px 60px;;
}


/* Barre d'info */

#infoLine {
    margin-top: 30px;
}

#infoDot {
    display: inline-block;
    color: #0065FC;
    border: #F2F2F2 solid 1px;
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    padding-top: 3px;
    text-align: center;
    padding-left: 1px;
    position: relative;
    bottom: 3px
}

#infoLine p {
    position: relative;
    display: inline-block;
    margin: 0px 0px 0px 10px;
}


/* Hébergements */

#hostAndPopular {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 628px;
}

#hostSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65.6%;
    height: 100%;
    padding: 3%;
}

#hostSection h2 {
    margin: 0;
}

#hostList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
}

.hostLink {
    display: flex;
    flex-direction: column;
    width: 246px;
    height: 200px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px #d9d9d9;
}

.hostCard img {
    width: 100%;
    height: 62.5%;
    object-fit: cover;
    border: white solid 5px;
    border-radius: 20px 20px 0 0;
    object-position: center;
}

.hostDescription {
    padding-left: 5%;
    background-color: white;
    height: 37.5%;
    border-radius: 0 0 20px 20px;
}

.hostDescription h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100%;
}

.hostDescription p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 90%;
}

.hostDescription div {
    display: flex;
}

.hostCard:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    transition: 0.1s;
}

.hostDescription div {
    font-size: 75%;
    color: #0065FC;
}

.coolPrice {
    font-weight: 600;
}

.euro {
    font-weight: 600;
    font-size: small;
}

#showMoreLink {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 110%;
    margin: 1% 0 1% 0.5%;
    width: 106px;
}

#showMoreLink:hover {
    color: #0065FC;
}


/* Etoiles Hébergement */

#starsH1 :nth-child(5) {
    color: #d9d9d9;
}

#starsH3 :nth-child(5) {
    color: #d9d9d9;
}

#starsH4 :nth-child(4),#starsH4 :nth-child(5) {
    color: #d9d9d9;
}

#starsH5 :nth-child(5) {
    color: #d9d9d9;
}


/* Populaires */

#popularSection {
    width: 31.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 3% 2.5% 3% 2.5%;
}

#popularSection h2 {
    width: 344px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.popularCard {
    width: 344px;
    height: 144px;
    text-decoration: none;
    color: black;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 3px #d9d9d9;
}

.popularCard img {
    width: 138px;
    height: 145px;
    object-fit: cover;
    border: white solid 5px;
    border-radius: 20px 0 0 20px;
    object-position: center;
}

.popularDescription {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    padding: 10px 0 10px 15px;
}

.popularDescription h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100%;
}

.popularDescription p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 90%;
}

.popularDescription div:nth-child(2) {
    display: flex;
}

.popularCard:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    transition: 0.1s;
}

.popularDescription div:nth-child(2) {
    font-size: 75%;
    color: #0065FC;
}


/* Etoiles Populaires */

#starsP2 :nth-child(5) {
    color: #d9d9d9;
}

#starsP3 :nth-child(5) {
    color: #d9d9d9;
}
