/*----------------------------------- Paramètres initiaux -----------------------------------*/

body {
    margin-left: auto;
    margin-right: auto;
}

header, main {
    margin-left: 0;
    margin-right: 0;
}


/*----------------------------------- Header et navigation -----------------------------------*/

header {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 35px;
}

#logo {
    width: 100px;
    height: fit-content;
    margin: 20px 0px 20px 5px;
}

#logo img {
    margin: 0;
}

nav {
    width: 100%;
}

nav a {
    padding: 10px 0px 10px 0px;
    border-bottom: #F2F2F2 solid 3px;
}

nav a:hover {
    border-top: rgba(0, 0, 0, 0) solid 3px;
    border-bottom: #0065FC solid 3px;
}


/*----------------------------------- Recherche -----------------------------------*/

#seekSection {
    margin-left: 5%;
    margin-right: 5%;
}

#seekSection h1 {
    margin-left: 0;
}

#seekSection p {
    margin: 14px 0px 0px 0px;
}

#searchBar {
    width: 100%;
    margin: 34px 0px 30px 0px;
}

#searchForm {
    justify-content: space-between;
    width: 100%;
    max-width: 420px;
}

#locationDot {
    position: relative;
    z-index: 1;
}

#searchInput {
    display: inline;
}

#searchInput[type=text] {
    position: absolute;
    width: 88%;
    max-width: 420px;
    padding-right: 68px;
    padding-left: 68px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

#searchButtonBig {
    display: none;
}
  
#searchButtonSmall {
    display: inline;
    position: relative;
    z-index: 1;
    height: 50px;
    width: 50px;
    padding: 16px;
    font-weight: 900;
    color: white;
    background: #0065FC;
    border: none;    
    border-radius: 16px;
}


/*----------------------------------- Filtres -----------------------------------*/

#filterSection {
    margin: 0;
    gap: 0px;
}

#filterSection h2 {
    margin: 0px 0px 16px 3px;
}

#filter-form {
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}


/*----------------------------------- Barre d'info -----------------------------------*/

#infoLine {
    display: flex;
    gap: 10px
}

#infoDot {
    flex-shrink: 0;
}

#infoLine {
    margin: 30px 0px 37px 0px;
}

#infoLine p {
    margin: 0;
}


/*----------------------------------- Hébergements et Populaires -----------------------------------*/

#hostAndPopular {
    flex-direction: column-reverse;
    gap: 0;
    margin-bottom: 34px;
}


/*----------------------------------- Hébergements -----------------------------------*/

#hostSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 0;
}

#hostSection h2 {
    width: 100%;
    margin: 18px 0 18px 0;
    padding: 0;
}

#hostList {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12.5px 3.8%;
}

.hostCard {
    width: 100%;
    max-width: 465px;
    height: 200px;
}

.hostLink {
    box-shadow: 0px 2px 15px 8px #F2F2F2;
}

.hostDescription {
    padding: 1% 2% 3.5% 5%;
}

.hostDescription p {
    margin: 0;
}

#showMore {
    width: 100%;
    margin: 32px 0 0 0;
}


/*----------------------------------- Populaires -----------------------------------*/

#popularSection {
    width: 100%;
    border-radius: 0;
}

#popularSection h2 {
    max-width: 100%;
    margin: 18px 0 18px 0;
    padding: 0;
}

.popularCard {
    max-width: 465px;
    height: 144px;
}


/* ----------------------------------- Activités -----------------------------------*/

#activitySection {
    margin: 0 0 60px 0;
    padding: 0 20px 0 20px;
}

#activitySection h2 {
    width: 100%;
    margin-left: 2px;
}

#activityList {
    align-content: center;
    width: 100%;
    height: auto;
    gap: 24px 0px;
}

.activityCard {
    width: 100%;
    max-width: 465px;
}

.activityCard:nth-child(3n+1) /* Selection card 1 et 4 */ {
    flex-basis: 190px;
}

.activityCard:nth-child(2) {
    order: 2;
    flex-basis: 190px;
}

.activityCard:nth-child(3) {
    order: 3;
    flex-basis: 190px;
}

.activityCard:nth-child(4) {
    order: 4;
}

.activityCard:nth-child(5) {
    order: 5;
    flex-basis: 190px;
}

.activityCard:nth-child(6) {
    order: 6;
    flex-basis: 190px;
}

.activityCard:nth-child(3n+1) img /* Selection Image card 1 et 4 */ {
    height: auto;
    min-height: 140%;
    transform: translate(-50%, -38%);
}

.activityCard:nth-child(2) img {
    height: auto;
    transform: translate(-50%, -44%);
}

.activityCard:nth-child(3) img {
    height: auto;
    min-height: 140%;
    transform: translate(-50%, -37%);
}

.activityCard:nth-child(5) img {
    height: auto;
    min-height: 140%;
    transform: translate(-50%, -36%);
}

.activityCard:nth-child(6) img {
    height: auto;
    min-height: 140%;
    transform: translate(-50%, -38%);
}


/*----------------------------------- Footer -----------------------------------*/

footer {
    flex-direction: column;
    height: 486px;
    padding: 45px 28px 35px 28px;
    margin: 0;
}

footer section {
    flex-basis: auto;
    margin: 0;
}

#ourHost {
    margin-bottom: 10px;
    padding-left: 4px;
}

#assist {
    padding-left: 4px;
}