* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    height: auto;
}

header, main {
    margin-left: 0;
    margin-right: 0;
}

h1, h2 {
    font-size: 22px;
    font-weight: 700;
}


/* Header et navigation */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    height: auto;
}

#logo {
    width: 100px;
    height: fit-content;
    margin: 15px 0px 15px 0px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

nav a {
    display: flex;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-top: rgba(0, 0, 0, 0) solid 3px;
    border-bottom: #F2F2F2 solid 3px;
}

nav a:hover {
    color: #0065FC;
    border-top: rgba(0, 0, 0, 0) solid 3px;
    border-bottom: #0065FC solid 3px;
}


/* Recherche */

#seekSection {
    margin-left: 6%;
    margin-right: 6%;
}

#searchBar {
    width: 100%;
}



#searchForm {
    max-width: 420px;
    width: 100%;
    justify-content: space-between;
}

#locationDot {
    position: relative;
    z-index: 1;
}

#searchInput {
    display: inline;
    height: 50px;
}

#searchInput[type=text] {
    font-size: 17px;
    font-weight: bold;
    border: #F2F2F2 solid 1px;
    border-radius: 15px;
    padding-left: 68px;
    padding-right: 68px;
    max-width: 420px;
    width: 88%;
    position: absolute;
}

#searchButtonBig {
    display: none;
}
  
#searchButtonSmall {
    display: inline;
    font-weight: 900;
    color: white;
    background: #0065FC;
    height: 50px;
    width: 50px;
    padding: 16px;
    border-radius: 16px;
    border: none;    
    position: relative;
    z-index: 1;
}


/* Filtres */

#filterSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

#filterSection h2 {
    margin-bottom: 16px;
}

#filterForm {
    justify-content: flex-start;
    align-content: space-between;
    width: 100%;
    gap: 12px;
    flex-wrap: wrap;
}

.filtersName {
    padding: 15px 15px 0px 60px;
    font-size: 15px;
}


/* Barre d'info */

#infoLine {
    display: flex;
    align-items: baseline;
}

#infoDot {
    flex-shrink: 0;
}

/* Hébergements */

#hostAndPopular {
    flex-direction: column-reverse;
    height: auto;
}

#hostSection {
    width: 100%;
    background-color: white;
    border-radius: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hostSection h2 {
    margin: 25px 0 25px 0;
}

#hostList {
    flex-direction: column;
    align-items: center;
}

.hostCard {
    width: 100%;
    max-width: 334px;
}

#showMoreLink {
    margin: 20px 0 0 0;
}

#popularSection {
    width: 100%;
    padding: 20px;
    border-radius: 0;
}

#popularSection h2 {
    margin: 25px;
}

.popularCard {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 144px;
}

